numpy
pandas
pyarrow # pandas>=3.0 utilizes PyArrow to extend functionality and improve the performance of various APIs
matplotlib
scipy # for reading/writing wav files
pillow
seaborn
scikit_learn
openpyxl
ipythontutor
folium
geopandas

# tooling
jupyter
jupytext
jupyterlab-courselevels
jupyterlab-myst
ipywidgets
ipympl
itables

# for authors only
# nbprune
# jupyter-book
# sphinx-exercise

# for updating nbhosting toc from jupyter book
ruamel.yaml
